html body {
    height: 100%;
    background-color: #1f1c1c;
    color: #f3f3f3;
}

.modal-content {
    background-color: #374855;
    color: #f3f3f3;
    width: 640px;
}

    .modal-header button {
        color: white;
    }

.btn-primary {
    background-color: #d49a41;
    border: #d49a41;
}

.btn-link, .nav-link {
    color: #d49a41;
}

.carousel-item i {
    font-size: 64px;
}

.col-sm-4 {
    display: none;
    margin-top: 16px;
}

    .col-sm-4 .card {
        border-color: #823f03;
    }

    .col-sm-4 .card-body {
        min-height: 380px;
        background-color: #1f1c1c;
        margin-bottom: 16px;
    }

    .col-sm-4 button, .col-sm-4 a, .col-md-3 button {
        position: absolute;
        bottom: 8px;
        width: 70%;
        left: 15%;
        right: 15%;
    }

    .col-sm-4 img {
        margin: 16px 0px;
        width: 128px;
        max-height: 128px;
    }

.jumbotron {
    margin:0px;
}

.show {
    display:block;
}

.modal-body i {
    font-size: 32px;
}       

#mc_embed_signup {
    background-color: #1f1c1c;
    color: white;
    clear: left; 
    font: 14px Helvetica,Arial,sans-serif; 
}

.card {
    background-color: #1f1c1c;
}

.col-md-3 {
    padding:16px;
    flex-direction:column;
    min-height: 100vh;
}

    .col-md-3 nav {
        position: absolute;
        width: 70%;
        left: 15%;
        right: 15%;
    }

    .col-md-3 h2 {
        color: white;
    }

    .col-md-3 img {
        border-radius: 50%;
        width: calc(100% - 24%);
    }

.ceneoaff-container .ceneoaff-custom {
    margin-left: auto;
    margin-right: auto;
}

.col {
    margin-top: auto;
    margin-bottom: auto;
    padding: 32px 16px;
}

    .col img {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }